<h2 id="overview">Overview</h2>
<p>
This project provides a LOD dataset for textbooks published up to now since the 7th curriculum guideline enforced in 1992, as well as the related information such as the subject areas, the subjects, and the curriculum guidelines.
As of December 2018, the dataset contains bibliographic information for 7,548 textbook titles and 218,206 triples as RDF data.
</p>
<p>
The dataset is based on a collection of textbooks held and organized by <a href="http://www.nier.go.jp/English/library/index.html">NIER Library of Education</a> for several decades.
These catalogs can be searched through <a href="https://nierlib.nier.go.jp/?page_id=109">Textbook Database</a> at the NIER Library of Education website.
ISBNs of the dataset are from <a href="http://textbook-rc.or.jp/en-GB/library/">Textbook Research Center Library</a> catalogs.
</p>
<p>
Please refer to the following papers and documents on the details on the development and publishing the Japanese Textbook LOD.
</p>
<ul>
  <li>Yuka Egusa, Masao Takaku. A Case Study of Japanese Textbook Linked Open Data: Publishing a Small Bibliographic Collection from a Special Library. DCMI 2019, Seoul, South Korea, pp.75-79 (2019-09)
  <a href="https://dcpapers.dublincore.org/pubs/article/view/4045">https://dcpapers.dublincore.org/pubs/article/view/4045</a><br>
  Slides: <a href="https://speakerdeck.com/yegusa/20190923-dcmi2019-textbooklod">https://speakerdeck.com/yegusa/20190923-dcmi2019-textbooklod</a>
  <li>Yuka Egusa, Masao Takaku. Building and Publishing Japanese Textbook Linked Open Data. <i>The Journal of Information Science and Technology Association = 情報の科学と技術</i>. 2018, Vol.68, No.7, pp.361-367, <a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a>, <a href="http://hdl.handle.net/2241/00152209">http://hdl.handle.net/2241/00152209</a> (in Japanese)</li>
  <li><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit.en">Poorman's Linked Data Toolkit : Let's make Linked Data easily!</a></li>
</ul>

<h3 id="news">News</h3>
<dl>
  <dt>November 8th, 2018</dt>
  <dd>Our methodology <a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit.en">How to make Linked Data easily, aka "Poorman's Linked Data Toolkit"</a> won the LOD Promotion Award at the Linked Open Data Challenge 2018.
  <ul>
    <li><a href="http://lodc.jp/2015/concrete5/blog/2018-11-08">[Press release] Linked Open Data チャレンジ Japan 2018 受賞作品発表</a>
</ul>
  <dt>August 28th, 2018</dt>
  <dd>Japanext Textbook LOD has been included into the LOD Cloud of 2018-08-28 version.
  <ul>
    <li><a href="https://lod-cloud.net">Linked Open Data Cloud</a></li>
    <li><a href="https://lod-cloud.net/dataset/jp-textbook">Dataset for jp-textbook</a></li>
  </ul>
  <dt>August 14th, 2018</dt>
  <dd>Release the document on <a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit.en">How to make Linked Data easily, aka "Poorman's Linked Data Toolkit"</a>.
  <dt>July 1st, 2018</dt>
  <dd>Published a case study paper for Japanese Textbook LOD at <em>The Journal of Information Science and Technology Association</em>.
  <ul>
          <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367 (in Japanese)</li>
          <li><a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a></li>
  </ul>
  </dd>
  <dt>September 2nd, 2017</dt>
  <dd>
  Presentation on this project at the Code4Lib JAPAN Conference 2017.
  <ul>
    <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09)</li>
    <li>スライド: <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a>
  </ul>
  </dd>
  <dt>March 11th, 2017</dt>
  <dd>This dataset won the Education LOD Award at the Linked Open Data Challenge 2016.
    <ul>
      <li><a href="http://lodc.jp/2015/concrete5/blog/2017-02-17">[Press release] Linked Open Data チャレンジ Japan 2016 受賞作品発表</a></li>
      <li><a href="https://www.slideshare.net/tmasao/20170311-lod-challenge2016-textbook">Presentation slides</a></li>
    </ul>
  </dd>
  <dt>January 15th, 2017</dt>
  <dd>Applied to <a href="http://idea.linkdata.org/idea/idea1s2213i">Dataset section of LOD Challenge 2016</a></dd>
</dl>

<h2 id="lod-model">LOD Vocaburaries / Data Model</h2>
<p>
The figure below is the overview of the model of the Japanese Textbook LOD.
The base URI for the Japanese Textbook LOD is https://w3id.org/jp-textbook/, the base URI is shown as the prefix <code>textbook:</code>.
</p>
<figure class="figure">
  <img class="figure-img img-fluid rounded" src="lod-model.png" alt="Data model of Textbook resources of the Japanese Textbook LOD">
  <figcaption class="figure-caption">Data model of Textbook resources of the Japanese Textbook LOD</figcaption>
</figure>
<figure class="figure">
  <img class="figure-img img-fluid rounded" src="lod-model-unit.png" alt="Data model of Teaching Unit resources of the Japanese Textbook LOD">
  <figcaption class="figure-caption">Data model of Teaching Unit resources of the Japanese Textbook LOD</figcaption>
</figure>
