<h2 id="overview">概要</h2>
<p>
1992年施行の学習指導要領以降の検定教科書を対象として、書誌事項と教科等の関連情報をLOD化しています。
2018年12月現在、約7500タイトルの教科書情報を公開しています。
</p>
<p>
データセットの元とした書誌情報等は<a href="http://www.nier.go.jp/library/">国立教育政策研究所教育図書館</a>において作成されたものを利用しています。
教育図書館サイト内の<a href="https://nierlib.nier.go.jp/?page_id=109">戦後教科書データベース</a>においても検索できます。
また、ISBNについては、<a href="http://www.textbook-rc.or.jp/library/">教科書研究センター附属教科書図書館</a>において作成されたデータを利用しています。
</p>
<p>
教科書LODの構築と公開の詳細については下記論文・文書等を参照してください。
</p>
<ul>
  <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367, <a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a>, <a href="http://hdl.handle.net/2241/00152209">http://hdl.handle.net/2241/00152209</a></li>
  <li><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Poorman’s Linked Data Toolkit / お手軽にLinked Dataを作ろう!</a></li>
  <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09),  <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a></li>
</ul>

<h3 id="news">お知らせ</h3>
<dl>
  <dt>2018年11月8日</dt>
  <dd>LODチャレンジ2018において<a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Linked Dataの簡単な作成方法 Poorman's Linked Data Toolkit</a>が「LODプロモーション賞」を受賞しました。
  <ul>
    <li><a href="http://lodc.jp/2015/concrete5/blog/2018-11-08">【プレスリリース】Linked Open Data チャレンジ Japan 2018 受賞作品発表</a>
  </ul>
  <dt>2018年8月28日</dt>
  <dd>教科書LODがLODクラウド（2018-08-28版）に掲載されました。
  <ul>
    <li><a href="https://lod-cloud.net">Linked Open Data Cloud</a></li>
    <li><a href="https://lod-cloud.net/dataset/jp-textbook">データセット情報: jp-textbook</a></li>
  </ul>
  <dt>2018年8月14日</dt>
  <dd><a href="https://github.com/jp-textbook/jp-textbook.github.io/wiki/Toolkit">Linked Dataの簡単な作成方法 Poorman's Linked Data Toolkit の紹介文書</a>を公開しました。
  <dt>2018年7月1日</dt>
  <dd>情報の科学と技術に教科書LODの事例報告を発表しました。
  <ul>
    <li>江草由佳, 高久雅生. 教科書Linked Open Data (LOD) の構築と公開. 情報の科学と技術. 2018, Vol.68, No.7, pp.361-367</li>
    <li><a href="https://doi.org/10.18919/jkg.68.7_361">https://doi.org/10.18919/jkg.68.7_361</a></li>
  </ul>
  </dd>
  <dt>2017年9月2日</dt>
  <dd>Code4Lib JAPANカンファレンス2017において、教科書LODについての発表を行いました。
  <ul>
    <li>江草由佳, 高久雅生. お手軽、お安く、持続可能な書誌情報公開（LOD化）の秘訣 ―教科書LODの経験から―. Code4Lib JAPANカンファレンス2017, 熊本 (2017-09)</li>
    <li>スライド: <a href="https://www.slideshare.net/yegusa/20170903-c4ljplod">https://www.slideshare.net/yegusa/20170903-c4ljplod</a>
  </ul>
  </dd>
  <dt>2017年3月11日</dt>
  <dd>LODチャレンジ2016において「教科書LOD」がテーマ賞「教育LOD賞」を受賞しました。
  <ul>
    <li><a href="http://lodc.jp/2015/concrete5/blog/2017-02-17">【プレスリリース】Linked Open Data チャレンジ Japan 2016 受賞作品発表</a></li>
    <li><a href="https://www.slideshare.net/tmasao/20170311-lod-challenge2016-textbook">受賞作品紹介スライド</a></li>
  </ul>
  </dd>
  <dt>2017年1月15日</dt>
  <dd><a href="http://idea.linkdata.org/idea/idea1s2213i">LODチャレンジ2016 データセット部門に応募</a></dd>
</dl>

<h2 id="lod-model">LOD語彙</h2>
<p>
教科書LODの主なリソースのモデル概要を下図に示します。
なお、教科書LODモデルのベースURIは https://w3id.org/jp-textbook/ で、下図では <code>textbook:</code> のプレフィックスで表示しています。
</p>
<p><img class="img-responsive img-rounded" src="lod-model.png" alt="教科書LODのモデル"></p>
