    <div class="jumbotron">
      <div class="container">
        <h1><%=h param[:name] %></h1>
        <p><%=h param[:datePublished] %>年発行, <%=h param[:startDate_str] %>施行</p>
      </div>
    </div>

    <hr>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>関連リンク</h2>
          <ul>
            <li><a href="<%=h param[:seeAlso] %>">学習指導要領（文部科学省サイト）</a></li>
          </ul>
        </div>
      </div>
    </div>
