ul.subjects {
  margin-left: 2.5em;
}
span.callNumber, span.itemID {
  font-size: smaller;
  font-family: monospace;
  margin-left: 1em;
}
span.callNumber:before{ content: "["; }
span.callNumber:after { content: "]"; }
span.itemID:before{ content: "("; }
span.itemID:after { content: ")"; }
