.navbar-inverse {
  background-color: #0f254d;
  background-image: none;
}

ul.subjects {
  margin-left: 2.5em;
}
span.callNumber, span.itemID {
  font-size: smaller;
  font-family: monospace;
  margin-left: 1em;
}
span.callNumber:before{ content: "["; }
span.callNumber:after { content: "]"; }
span.itemID:before{ content: "("; }
span.itemID:after { content: ")"; }

span.url {
  word-break: break-all;
}
th {
  min-width: 5em;
}
td ul {
  padding-left: 15px;
}

nav.navbar {
  margin-bottom: 0;
}

a[href^="http"]:not([href^="https://w3id.org/jp-textbook/"]) {
  background: url(external_link.svg) center right no-repeat;
  padding-right: 12px;
}

div.toc, div.toc.affix {
  top: 60px;
  width: 195px;
}
nav[data-toggle="toc"] .nav .nav {
  display: block;
}
@media (max-width: 768px) {
  .toc {
    display: none;
  }
}
