.navbar-inverse {
  background-color: #0f254d;
  background-image: none;
}

ul.subjects {
  margin-left: 2.5em;
}
span.callNumber, span.itemID {
  font-size: smaller;
  font-family: monospace;
  margin-left: 1em;
}
span.callNumber:before{ content: "["; }
span.callNumber:after { content: "]"; }
span.itemID:before{ content: "("; }
span.itemID:after { content: ")"; }

var:before { content: '{'; }
var:after { content: '}'; }

.blank_node {
  border: 1px dashed gray;
  margin-bottom: 5px
}
td .table {
  margin-bottom: 0;
}
td td dl {
  margin-bottom: 0;
}

span.url, td.url {
  word-break: break-all;
}
th {
  min-width: 5em;
}
td ul {
  padding-left: 15px;
}

nav.navbar {
  margin-bottom: 0;
}

a[href^="http"]:not([href^="https://w3id.org/jp-textbook/"]),
a[href^="javascript"][href$="submit()"] {
  background: url(external_link.svg) center right no-repeat;
  padding-right: 12px;
}

div.toc, div.toc.affix {
  top: 60px;
  width: 195px;
}
nav[data-toggle="toc"] .nav .nav {
  display: block;
}
@media (max-width: 768px) {
  .toc {
    display: none;
  }
}

.searchbar {
  width: 300px;
}
.gsc-search-box {
  margin: 0;
}

*[lang]::after {
  content: "@"attr(lang);
  font-size: smaller;
  color: green;
}
